html 
{
  scroll-padding-top: 100px;
}

.stTextInput>div>div>input 
{
    background-color:rgb(34, 33, 47);
    border: 1px solid #ccc;
    border-radius: 8px;
    position: sticky;
    z-index: 2;
}

button[kind="secondary"] 
{
    background-color:rgb(47, 174, 77); 
    color: white;
    border: none;
    outline: none;
}

button[kind="secondary"]:hover 
{
    background-color:rgb(75, 189, 101);
    color: white;
    cursor: pointer;
}

button[kind="secondary"]:active
{
    background-color:rgb(47, 174, 77); 
    color: white !important;
    border: none !important;
    outline: none !important;
}

button[kind="primary"] 
{
    background-color:rgb(176, 59, 46); 
    color: white;
    border: none;
    outline: none;
}

.user-msg 
{
    margin-top: 1rem;
    color: #34495e;
    background-color: #ecf0f1;
    padding: 0.75rem;
    border-radius: 8px;
}
.gpt-msg 
{
    margin-top: 1rem;
    color: #34495e;
    background-color: #ecf0f1;
    padding: 0.75rem;
    border-radius: 8px;
}

.message-container 
{
  padding-bottom: 3000px; /* reserve space below messages */
}


div[data-testid="stVerticalBlock"] div:has(div.fixed-header) 
{
    position: fixed;
    top: 60%;
    //background-color: #00CFFF;
    z-index: 999;
    width: 72%;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.fixed-header 
{
    width: 100%;
    text-align: center;
}

div[data-testid="stVerticalBlock"] div:has(div.fixed-title) 
{
    position: fixed;
    top: 5%;
    //background-color: #C0C0C0;
    z-index: 999;
    width: 92%;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.fixed-title 
{
    width: 100%;
    text-align: center;
}
